:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.katex-html {
  visibility: hidden;
}

.formula {
  overflow: hidden; max-width: 10vw;
}

.container {
  display: flex;
  flex-direction: row;
}

.side_bar {
  display: flex;
  flex-direction: column;
  
}
